<form class="ui form" name="nodeCommissionCtrl.form" role="form"
      ng-submit="nodeCommissionCtrl.updateClusterSettings()" novalidate>
    <div class="ui active inverted dimmer" ng-show="nodeCommissionCtrl.showLoader">
        <div class="ui loader"></div>
    </div>

    <ctv-scheduler> </ctv-scheduler>
    <div class="ui section divider"></div>
    <ctv-networkmode></ctv-networkmode>
    <div class="ui section divider"></div>

    <div class="field">
        <div ng-click="nodeCommissionCtrl.ansibleVariablesVisible = !nodeCommissionCtrl.ansibleVariablesVisible">
            <h4 class="ui header">
                <i ng-if="nodeCommissionCtrl.ansibleVariablesVisible" class="grey minus circle outline icon"></i>
                <i ng-if="!nodeCommissionCtrl.ansibleVariablesVisible" class="grey plus circle outline icon"></i>
                Ansible Variables
            </h4>
        </div>
        <div ng-show="nodeCommissionCtrl.ansibleVariablesVisible">
            <ctv-namevalue items="nodeCommissionCtrl.ansibleVariables"></ctv-namevalue>
        </div>
    </div>

    <div class="ui section divider"></div>
    <div class="field">
        <div ng-click="nodeCommissionCtrl.envVariablesVisible = !nodeCommissionCtrl.envVariablesVisible">
            <h4 class="ui header">
                <i ng-if="nodeCommissionCtrl.envVariablesVisible" class="grey minus circle outline icon"></i>
                <i ng-if="!nodeCommissionCtrl.envVariablesVisible" class="grey plus circle outline icon"></i>
                Environment
            </h4>
        </div>
        <div ng-show="nodeCommissionCtrl.envVariablesVisible">
            <ctv-namevalue items="nodeCommissionCtrl.envVariables"></ctv-namevalue>
        </div>
    </div>

    <div class="ui sixteen column grid">
        <div class="right floated five wide column">
            <div style="margin-top: 40px">
                <button type="button" class="ui basic button"
                        ng-click="nodeCommissionCtrl.returnToMenu()">
                    Cancel
                </button>
                <button type="submit" class="ui blue button">
                    Update Global Cluster Settings
                </button>
            </div>
        </div>
    </div>
    <ctv-error ng-show="nodeCommissionCtrl.showServerError" header="Error updating settings" error="nodeCommissionCtrl.serverErrorMessage">
    </ctv-error>
</form>
