

<form class="ui form" name="bandwidthPolicyCreateCtrl.form" role="form"
      ng-submit="bandwidthPolicyCreateCtrl.createPolicy(newPolicy)" novalidate>
    <div class="ui active inverted dimmer" ng-show="bandwidthPolicyCreateCtrl.showLoader">
        <div class="ui loader"></div>
    </div>
    <div class="field">
        <div ng-show="bandwidthPolicyCreateCtrl.form.$submitted">
            <div ng-hide="bandwidthPolicyCreateCtrl.form.$valid" class="ui negative message">
                <ul class="list">
                    <li ng-show="bandwidthPolicyCreateCtrl.form.newProfileName.$error.required">Please enter profile name</li>
                    <li ng-show="bandwidthPolicyCreateCtrl.form.newBandwidthNumber.$error.required">Please enter bandwidth</li>
                    <li ng-show="bandwidthPolicyCreateCtrl.form.newBandwidthUnit.$error.required">Please select bandwidth Unit</li>
                    <li ng-show="bandwidthPolicyCreateCtrl.form.newDSCP.$error.required">Please enter DSCP</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="field">
        <label for="newProfileName">Profile name</label>
        <input type="text" id="newProfileName" name="newProfileName"
               ng-model="bandwidthPolicyCreateCtrl.newPolicy.profileName" placeholder="Enter profile name" required>
    </div>

    <!--<div class="field">
        <label for="newTenantName">Tenant name </label>
        <input type="text" id="newTenantName" name="newTenantName"
               ng-model="bandwidthPolicyCreateCtrl.newPolicy.tenantName" placeholder="Enter tenant name" required>
    </div>-->



    <div class="fields">
        <div class = "thirteen wide field">
            <label for="newBandwidthNumber">Bandwidth </label>
                <input type="text" id="newBandwidthNumber" name="newBandwidthNumber"
                   ng-model="bandwidthPolicyCreateCtrl.bandwidthNumber" placeholder="Enter bandwidth" required>
        </div>
        <div class = "three wide field">
            <label for="newBandwidthUnit">Unit</label>
            <select name="newBandwidthUnit" id="newBandwidthUnit" class="ui dropdown" ng-model="bandwidthPolicyCreateCtrl.bandwidthUnit" required>
                <option value="">-- Please select unit --</option>
                <option value="kbps">kbps</option>
                <option value="mbps">mbps</option>
                <option value="gbps">gbps</option>
            </select>
        </div>
    </div>

    <div class="field">
        <label for="newDSCP">DSCP</label>
        <input type="number" id="newDSCP" name="newDSCP"
               ng-model="bandwidthPolicyCreateCtrl.newPolicy.DSCP" placeholder="Enter DSCP - Range From 0 to 63" required>
    </div>

    <div class="ui sixteen column grid">
        <div class="right floated three wide column">
            <div style="margin-top: 40px">
            <button type="button" class="ui basic button" ng-click="bandwidthPolicyCreateCtrl.cancelCreating()">
                Cancel
            </button>
            <button type="submit" class="ui blue button">
                Create
            </button>
            </div>
        </div>
    </div>

    <ctv-error ng-show="bandwidthPolicyCreateCtrl.showServerError" header="Error creating policy" error="bandwidthPolicyCreateCtrl.serverErrorMessage">
    </ctv-error>
</form>
