<div class="ui container">
    <div class="ui grid">
        <div class="ui sixteen wide column">
            <h2>Welcome to Cisco Container Networking</h2>
        </div>
        <div class="ui sixteen wide column">
            <p>The Cisco Container Networking offers the quickest, easiest way to manage and scale your container infrastructure. A ready-to-go platform designed to be centrally managed by enterprise IT, with developer self-service, ContainerX offers a single pane of glass for all containers running on bare metal servers, AWS EC2 instances, or VMWare vSphere. Our magic sauce of Elastic Clusters™ and Container Pools™ provides an enterprise grade solution with multi-tenancy, resiliency, elasticity and horizontal scalability. </p>
        </div>
        <div class="ui sixteen wide column">
            <h4>Click below to step through the Container Networking configuration</h4>
        </div>
        <div class="ui sixteen wide column">
            <button class="ui large blue button" onclick="$('.ui.large.modal').modal('setting', 'closable', false).modal('show'); $('body').addClass('scrolling'); $('.ui.large.modal').addClass('scrolling');">Start</button>
        </div>
    </div>
</div>

<div class="ui large modal scrolling">
    <div class="content">
        <div class="ui container" style="width: 90%">
            <div class="ui segment">
                <div class="ui ordered three top attached steps" style="margin-bottom: 60px;">
                    <div class="step" [ngClass]="{active: pageNo==1, completed: pageNo > 1}">
                        <div class="content">
                            <div class="title">Configure Management Server</div>
                            <div class="description">Enter Netmaster Details</div>
                        </div>
                    </div>
                    <div class="step" [ngClass]="{active: pageNo==2, completed: pageNo > 2}">
                        <div class="content">
                            <div class="title">Configure Network</div>
                            <div class="description">Select network defaults</div>
                        </div>
                    </div>
                    <div class="step" [ngClass]="{active: pageNo==3, completed: pageNo > 3}">
                        <div class="content">
                            <div class="title">Confirm Details</div>
                            <div class="description">Verify all the configuration</div>
                        </div>
                    </div>
                </div>
                <wizardpage1 *ngIf="pageNo==1" (updatePage)="updatePage($event);"></wizardpage1>
                <wizardpage2 *ngIf="pageNo==2" (updatePage)="updatePage($event);"></wizardpage2>
                <wizardpage3 *ngIf="pageNo==3" (updatePage)="updatePage($event);"></wizardpage3>
            </div>
        </div>
    </div>
</div>
