/* app css stylesheet */
td.ctv-header {
    color: grey;
}

tr:nth-child(even) {
    background: #f1fafe
}

td.ctv-wordwrap {
  word-break: break-all;
}

.ui.secondary.pointing.menu
.active.item{
    font-weight: 500;
}

.ui.menu
.blue.active.item{
    color: #1B1C1D!important;
}