<div class="field">
    <div ng-show="nodeCommissionCtrl.form.$submitted">
        <div ng-hide="nodeCommissionCtrl.form.$valid" class="ui negative message">
            <ul class="list">
                <li ng-show="nodeCommissionCtrl.form.controlInterface.$error.required">
                    Please enter control interface
                </li>

                <!--Node commissioning related validation -->
                <li ng-show="nodeCommissionCtrl.form.serviceVIP.$error.required">
                    Please enter virtual IP address for cluster services
                </li>
                <li ng-show="nodeCommissionCtrl.form.dataInterface.$error.required">
                    Please enter data interface
                </li>

                <li ng-show="nodeCommissionCtrl.form.ucpBootstrapNodeName.$error.required">
                    Please enter node name
                </li>

                <!-- APIC settings validation, part of commissioning node -->
                <li ng-show="nodeCommissionCtrl.form.apicURL.$error.required">
                    Please enter URL for APIC
                </li>
                <li ng-show="nodeCommissionCtrl.form.apicUserName.$error.required">
                    Please enter user name for APIC
                </li>
                <li ng-show="nodeCommissionCtrl.form.apicPassword.$error.required">
                    Please enter password for APIC
                </li>
                <li ng-show="nodeCommissionCtrl.form.apicLeafNodes.$error.required">
                    Please enter leaf nodes for APIC
                </li>
            </ul>
        </div>
    </div>
</div>