<div class="ui basic segment">
    <div class="ui active inverted dimmer" *ngIf="showLoader">
        <div class="ui loader"></div>
    </div>
    <ctv-collapsible [title]="'Network Settings'">
        <networksettingdir [firstRunWiz]="false" (updateNetDef)="updateNetworkSettings($event)" [setting]="networkSettingCtrl.setting"></networksettingdir>
    </ctv-collapsible>
    <div class="ui section divider" style="margin-top: 30px"></div>
    <ctv-collapsible [title]="'Aci Settings'">
        <acisettingdir [firstRunWiz]="false" (updateAciDef)="updateAciSetting($event)" [extra_vars]="networkSettingCtrl.extra_vars"></acisettingdir>
    </ctv-collapsible>
</div>
<ctv-error *ngIf="showServerError" header="Error updating settings" [error]="serverErrorMessage">
</ctv-error>