<div class="ui sixteen column grid pageHeader">
    <div [ngSwitch]="userDetailsCtrl.mode" class="ui row">
        <div class="left aligned eight wide column">
            <div *ngSwitchCase="'details'" class="content pageTitle">Details: {{userDetailsCtrl.user.userName}}</div>
            <div *ngSwitchCase="'edit'" class="content pageTitle">Editing: {{userDetailsCtrl.user.userName}}</div>
        </div>
        <div class="right aligned eight wide column">

            <div id="delete-user-modal" class="ui small modal">
                <div class="header">Remove User: {{user.userName}}
                </div>
                <div class="content">
                    <p>Are you sure you want to remove this user?</p>
                </div>
                <div class="actions">
                    <div class="ui negative button">No</div>
                    <div class="ui positive button" (click)="deleteUser()">
                        Yes
                    </div>
                </div>
            </div>

            <button *ngSwitchCase="'edit'" class="ui large button cancelBtn"
                    (click)="cancelEditing()">
                Cancel
            </button>
            <button *ngSwitchCase="'details'" class="ui large button cancelBtn"
                    (click)="cancelDetails()">
                Close
            </button>
            <button *ngSwitchCase="'details'" class="ui large button secondaryBtn"
                    (click)="editUser()">
                Edit
            </button>
            <button class="ui blue large button secondaryBtn" onclick="$('#delete-user-modal').modal('show')">
                <i class="trash icon"></i>
                Remove
            </button>

        </div>
    </div>

    <div class="ui row breadcrumbRow">
        <div class="ui sixteen wide column">
            <div class="breadcrumbs">
                <span class="crumb">
                    <a [routerLink]="['../../list']">
                        User Management
                    </a>
                </span>
                <span class="crumb">
                    {{user.userName}}
                </span>
            </div>
        </div>
    </div>

    <div class="ui row">
        <div class="ui sixteen wide column">

            <div class="ui basic segment">
                <div class="ui active inverted dimmer" *ngIf="showLoader">
                    <div class="ui loader"></div>
                </div>

                <table class="ui very basic selectable table">
                    <tbody>
                    <div [ngSwitch]="mode">
                        <div *ngSwitchCase="'details'">
                            <tr>
                                <td class="three wide column key">Username</td>
                                <td class="value">{{user.userName}}</td>
                            </tr>
                            <tr>
                                <td class="three wide column key">First Name</td>
                                <td class="value">{{user.firstName}}</td>
                            </tr>
                            <tr>
                                <td class="three wide column key">Last Name</td>
                                <td class="value">{{user.lastName}}</td>
                            </tr>
                            <tr>
                                <td class="three wide column key">Organization</td>
                                <td class="value">{{user.tenantName}}</td>
                            </tr>
                            <tr>
                                <td class="three wide column key">Role</td>
                                <td class="value">{{user.role}}</td>
                            </tr>
                            <tr>
                                <td class="three wide column key">Enabled</td>
                                <td class="value">{{user.enabled?'Yes':'No'}}</td>
                            </tr>
                        </div>
                    </div>
                    </tbody>
                </table>

                <div [ngSwitch]="mode">
                    <form class="ui form"
                          role="form"
                          *ngSwitchCase="'edit'"
                          (submit)="saveUser(formRef.valid)" novalidate #formRef="ngForm">

                        <div class="field">
                            <div *ngIf="formRef.submitted">
                                <div [hidden]="formRef.valid" class="ui negative message">
                                    <ul class="list">
                                        <li *ngIf="userName.errors?.required">Please enter
                                            user name
                                        </li>
                                        <li *ngIf="userOrganization.errors?.required">
                                            Please select organization
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="ui fifteen column grid">
                            <div class="ui row">

                                <div class="ui five wide column">
                                    <div class="field">
                                        <label for="userName">Username</label>
                                        <input type="text" id="userName" name="userName"
                                               [(ngModel)]="user.userName"
                                               placeholder="Enter name" required #userName="ngModel">
                                    </div>
                                </div>
                                <div class="ui five wide column">
                                    <div class="field">
                                        <label for="newFirstName">First name</label>
                                        <input type="text" id="newFirstName" name="newFirstName"
                                               [(ngModel)]="user.firstName"
                                               placeholder="Enter first name" #newFirstName="ngModel">
                                    </div>
                                </div>
                                <div class="ui five wide column">
                                    <div class="field">
                                        <label for="newLastName">Last name</label>
                                        <input type="text" id="newLastName" name="newLastName"
                                               [(ngModel)]="user.lastName"
                                               placeholder="Enter last name" #newLastName="ngModel">
                                    </div>
                                </div>

                            </div>
                            <div class="ui row">

                                <div class="ui five wide column">
                                    <div class="field">
                                        <label for="userOrganization">Organization</label>
                                        <select id="userOrganization"
                                                class="ui dropdown"
                                                #userOrganization="ngModel"
                                                name="userOrganization"
                                                [(ngModel)]="user['tenantName']"
                                                required>
                                            <option value="">-- Please select organization --</option>
                                            <option *ngFor="let organization of organizations"
                                                    [value]="organization.tenantName">
                                                {{organization.tenantName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="ui five wide column">
                                    <div class="field">
                                        <label for="newRole">Role</label>
                                        <select class="ui dropdown" id="newRole" name="role" [(ngModel)]="user.role">
                                            <option value="Admin">Admin</option>
                                            <option value="DevOps">DevOps</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="ui five wide column">
                                    <div class="field">
                                        <label>&nbsp;<br>
                                            <input type="checkbox" name="userEnabled" tabindex="0" class="alignLabel"
                                                   [(ngModel)]="user.enabled">
                                            Enabled
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="ui row" *ngSwitchCase="'edit'">

                                <div class="right aligned fifteen wide column buttonRow">
                                    <button type="button" class="ui large button cancelBtn" (click)="cancelEditing()">
                                        Cancel
                                    </button>
                                    <button type="submit" class="ui blue large button primaryBtn">
                                        Save
                                    </button>
                                </div>

                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
